In [1]:
import pandas as pd

S = pd.Series(["A", "B", "C", "D"], index = [1, 3, 5, 7])
display(S)

display(S.loc[1])
display(S.loc[5:7])  # loc을 사용한 슬라이싱은 맨 뒤 인덱스도 포함함.
display(S.loc[5])

1    A
3    B
5    C
7    D
dtype: object

'A'

5    C
7    D
dtype: object

'C'

In [2]:
display(S.iloc[0])
display(S.iloc[1:3])  # iloc(integer-location)을 사용한 슬라이싱은 맨 뒤 인덱스를 포함하지 않음.

'A'

3    B
5    C
dtype: object

In [3]:
df= pd.DataFrame(
    {"A": [1,2,3,4], "B": [10,20,30,40], "C": [5,6,7,8]}, index = [1,3,5,7])
display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

In [4]:
display(df.loc[1])
display(df.loc[5])
display(df.iloc[0])
display(df.iloc[1])

A     1
B    10
C     5
Name: 1, dtype: int64

A     3
B    30
C     7
Name: 5, dtype: int64

A     1
B    10
C     5
Name: 1, dtype: int64

A     2
B    20
C     6
Name: 3, dtype: int64

In [5]:
display(df.loc[1:3])
display(df.iloc[0:1])
# 데이터프레임을 슬라이싱하면 결과도 데이터프레임임.
# loc은 끝 인덱스 포함한다. iloc은 끝 인덱스 포함하지 않는다.

   A   B  C
1  1  10  5
3  2  20  6

   A   B  C
1  1  10  5

In [6]:
print(df.loc[1, "A"])
print(df.loc[3, "B"])
print(df.iloc[0,1])
print(df.iloc[1,2])

1
20
10
6

In [7]:
S.loc[9] = "E"  # 인덱스가 9, 데이터가 "E"인 요소를 S에 새로 추가함
display(S)

1    A
3    B
5    C
7    D
9    E
dtype: object

In [8]:
df.loc[9] = [5, 50, 9]  # 인덱스가 9, 값이 [5, 50, 9]인 요소를 df에 새로 추가함.
display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8
9  5  50  9

In [9]:
S.loc[1] = "F"
display(S)

1    F
3    B
5    C
7    D
9    E
dtype: object

In [10]:
display(df["A"])  # 칼럼을 딕셔너리처럼 접근. 마치 key를 조회하는 것 처럼 말이다. 이 방식이 보다 범용적임.
display(df.A)  # 속성처럼 접근

1    1
3    2
5    3
7    4
9    5
Name: A, dtype: int64

1    1
3    2
5    3
7    4
9    5
Name: A, dtype: int64

In [11]:
display(df[["A"]]) # 2차원의 DataFrame을 반환하는 인덱싱 연산자 [[]]
# 1차원의 DataFrame을 반환하는 인덱싱 연산자 []
display(df[["A", "B"]])

   A
1  1
3  2
5  3
7  4
9  5

   A   B
1  1  10
3  2  20
5  3  30
7  4  40
9  5  50

In [12]:
df["D"] = [-1, -2, -3, -4, -5]
df["E"]= 0  # 입력하고자 하는 배열의 크기는 df의 행 개수와 같아야 한다. 브로드캐스팅으로 모든 값 통일 가능.
display(df)

   A   B  C  D  E
1  1  10  5 -1  0
3  2  20  6 -2  0
5  3  30  7 -3  0
7  4  40  8 -4  0
9  5  50  9 -5  0

In [13]:
import numpy as np
df[["D", "E"]] = np.arange(0,10).reshape(5,2)  # 5*2 = 10개(0부터 9까지) 갯수가 맞아야 함.
display(df)

   A   B  C  D  E
1  1  10  5  0  1
3  2  20  6  2  3
5  3  30  7  4  5
7  4  40  8  6  7
9  5  50  9  8  9

In [14]:
cond = df["C"] % 2 ==0
display(cond)
display(df.loc[cond])  # loc[]는 특정 조건 만족하는 행만을 선택함. 부울 배열을 인덱스로 사용할 때는 loc인덱서를 사용함.

1    False
3     True
5    False
7     True
9    False
Name: C, dtype: bool

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

In [99]:
import numpy as np
idx1 = pd.Series([False, True, False, True, False], index = [1,3,5,7,9])
idx2 = pd.Series([False, True, False, True, False], index = [0,1,2,3,4])
idx3 = [False, True, False, True, False]
display(df.loc[idx1])
display(df.loc[idx3])
display(df.loc[idx2]) # 오류 발생.

# Pandas에서 불리언 인덱싱을 사용할 때는, 비교하려는 시리즈(Series)들의 인덱스가 동일해야 한다.

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [15]:
display(df.loc[df["A"] <= 3, ["A", "C"]])
# 행 인덱스: A열 값이 3 이하인 행만 선택
# 열 인덱스: A열과 C열만 출력

   A  C
1  1  5
3  2  6
5  3  7

In [16]:
display(df)
display(df["B"].isin([30,20,5]))  # 말 그대로 is in ... 각 값이 주어진 배열에 포함되는지 불리언 값을 반환함.

   A   B  C  D  E
1  1  10  5  0  1
3  2  20  6  2  3
5  3  30  7  4  5
7  4  40  8  6  7
9  5  50  9  8  9

1    False
3     True
5     True
7    False
9    False
Name: B, dtype: bool

In [17]:
display(df.loc[df["B"].isin([30,20])])  # 그래서 isin을 인덱스로 사용시 B의 요소가 [20, 30]에 속한 행만 필터링 가능.

   A   B  C  D  E
3  2  20  6  2  3
5  3  30  7  4  5