In [9]:
import pandas as pd
path = r"C:\Users\cho16\Desktop\my_quant\data\판다스\base_sample.csv"
df = pd.read_csv(path)
display(df)

   A  B  C
0  1  2  3
1  4  5  6

In [11]:
import os
os.chdir(r"C:\Users\cho16\Desktop\my_quant\data\판다스") # os.chdir 함수로 현재 경로를 설정 
df=pd.read_csv("base_sample.csv") # 파일명만 입력해서 불러오기

In [13]:
os.chdir(r"C:\Users\cho16\Desktop\my_quant") # os.chdir는 디렉토리(폴더)로만 이동 가능하다.
print(os.getcwd())

C:\Users\cho16\Desktop\my_quant

In [15]:
os.chdir("..")
print(os.getcwd())

C:\Users\cho16\Desktop

In [29]:
os.chdir(r"C:\Users\cho16\Desktop\my_quant\Ch03-Pandas")
print(os.getcwd())

df=pd.read_csv(r"C:\Users\cho16\Desktop\my_quant\data\판다스\base_sample.csv")
display(df)

C:\Users\cho16\Desktop\my_quant\Ch03-Pandas

   A  B  C
0  1  2  3
1  4  5  6

In [32]:
os.chdir(r"C:\Users\cho16\Desktop\my_quant\data\판다스")

df = pd.read_csv(r"한글_샘플.csv", encoding="euc-kr")
display(df)  # 인코딩 미설정시 오류 뜬다.

   한글이  포함되어  있어요
0    1     2    3
1    4     5    6

In [33]:
df1 = pd.read_csv("날짜_샘플.csv")
df2 = pd.read_csv("날짜_샘플.csv", parse_dates = ["Date"])
display(df1["Date"].head())
display(df2["Date"].head())
# object 자료형은 문자 자료형. datetime64[ns]는 날짜 자료형.

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
Name: Date, dtype: object

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
Name: Date, dtype: datetime64[ns]

In [34]:
df1 = pd.read_csv("변수10개_샘플.csv")
df2 = pd.read_csv("변수10개_샘플.csv", usecols = ["A", "B", "C"])
# usecols 인자는 불러올 칼럼을 지정한다.
display(df1)
display(df1.columns)
display(df2.columns)

       A      B      C      D      E      F      G      H
0  58.38  86.05  47.82  24.14  50.39  19.72  56.29  99.61
1  87.27  15.92  11.76   8.59  12.33  78.19  13.33  39.17
2  25.26   8.21  46.60  33.13  93.67  94.66  15.37  12.02
3  15.39  36.19  21.99  53.12  35.38  83.65  59.07  88.22
4  36.38  70.75  55.47  78.35  33.54  34.72  43.31  38.36
5   2.48  29.26  12.51  38.20  32.43  53.43  70.00  37.99

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

Index(['A', 'B', 'C'], dtype='object')

In [145]:
df1 = pd.read_csv("tsv_샘플.txt")
df2 = pd.read_csv("tsv_샘플.txt", sep = "\t")
# sep 인자는 파일의 구분자를 설정한다.
# sep 인자 미설정시 기본값인 콤마(,)로 설정됨.
display(df1)
display(df1.head(2))
display(df2.head(2))

                   A\tB\tC\tD
0  58.38\t86.05\t47.82\t24.14
1   87.27\t15.92\t11.76\t8.59
2    25.26\t8.21\t46.6\t33.13
3  15.39\t36.19\t21.99\t53.12
4  36.38\t70.75\t55.47\t78.35
5    2.48\t29.26\t12.51\t38.2

                   A\tB\tC\tD
0  58.38\t86.05\t47.82\t24.14
1   87.27\t15.92\t11.76\t8.59

       A      B      C      D
0  58.38  86.05  47.82  24.14
1  87.27  15.92  11.76   8.59