In [3]:
import pandas as pd

s1 = pd.Series([1,2,3,4], index = [1,2,3,4])
s2 = pd.Series([4,3,2,1], index = [4,3,2,1])
display(s2)
display(s1-s2)  # 계산은 인덱스를 기준으로 이루어진다. ndarray 연산과 다르게 위치는 전혀 고려하지 않는다.

4    4
3    3
2    2
1    1
dtype: int64

1    0
2    0
3    0
4    0
dtype: int64

In [4]:
s1 = pd.Series([1,2,3,4], index = [1,2,3,4])
s2 = pd.Series([4,3,2,1], index = [5,6,7,8])
result = s1-s2
display(result)
# 정확히는, 우선 s1과 s2의 인덱스 합집합으로서 [1,2,3,4,5,6,7,8]을 만든다.
# 그리고 s1에서 인덱스 1인 데이터 1, s2에서 인덱스 1인 데이터 NaN(Not a Number, 결측치) 연산.

display(s1.values - s2.values)
# 시리즈의 인덱스 무시하고 같은 위치의 요소끼리 연산하기

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
dtype: float64

array([-3, -1,  1,  3], dtype=int64)

In [5]:
df = pd.DataFrame({"A" : [1,2,3,4], "B": [5,6,7,8]})
df["C"] = df["A"] + df["B"]
display(df)

df["C"] = df["C"] / 2
display(df["C"])

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

0    3.0
1    4.0
2    5.0
3    6.0
Name: C, dtype: float64

In [6]:
# apply 메서드는 시리즈나 데이터프레임의 모든 요소에 일괄적으로 함수를 적용한다.
def square(x):
    return x**2

display(df[["A"]].apply(square))
display(df["A"].apply(square))
display(df[["A","B"]].apply(square))

    A
0   1
1   4
2   9
3  16

0     1
1     4
2     9
3    16
Name: A, dtype: int64

    A   B
0   1  25
1   4  36
2   9  49
3  16  64