In [3]:
import os
import pandas as pd

base_dir = os.path.dirname(os.getcwd())  # 또는 notebook_dir = os.getcwd() 도 가능
file_path = os.path.join(base_dir, "data", "판다스", "주가리포트_샘플.txt")

df = pd.read_csv(file_path, sep = "\t", encoding="euc-kr")
display(df.head())

      종목명                       리포트제목    적정가격      의견       증권사          날짜
0  SK하이닉스           리스크 관리가 좀더 필요한 시점  120000  매수(유지)    하이투자증권  2021-10-15
1     솔루엠                   수주잔고가 쌓인다   28000  매수(유지)    하이투자증권  2021-10-15
2    유한양행       높아진 성공 가능성 할인보다 할증 요소   90000  매수(유지)      키움증권  2021-10-15
3  코스모신소재                  증설은 곧 성장이다       -       -      키움증권  2021-10-15
4     넷마블  올해까지 실적으론 고평가, 내년 실적부턴 저평가  145000      매수  이베스트투자증권  2021-10-15

In [18]:
display(df["의견"].str.contains("매수"))
count = df["의견"].str.contains("매수").sum()
ratio = df["의견"].str.contains("매수").mean() * 100

display(count) # 매수 리포트의 개수
display(ratio) # 매수 리포트의 비율

0        True
1        True
2        True
3       False
4        True
        ...
1572     True
1573     True
1574     True
1575     True
1576    False
Name: 의견, Length: 1577, dtype: bool

1088

68.99175649968295

In [19]:
display(df.loc[df["의견"].str.contains("매수")])

,종목명,리포트제목,적정가격,의견,증권사,날짜
0,SK하이닉스,리스크 관리가 좀더 필요한 시점,120000,매수(유지),하이투자증권,2021-10-15
1,솔루엠,수주잔고가 쌓인다,28000,매수(유지),하이투자증권,2021-10-15
2,유한양행,높아진 성공 가능성 할인보다 할증 요소,90000,매수(유지),키움증권,2021-10-15
4,넷마블,"올해까지 실적으론 고평가, 내년 실적부턴 저평가",145000,매수,이베스트투자증권,2021-10-15
5,현대해상,보험손익 개선이 호실적을 지속 견인,35000,매수(유지),이베스트투자증권,2021-10-15
...,...,...,...,...,...,...
1571,F&F,"MLB, 중국인의 마음을 저격하다",200000,매수,하나금융투자,2021-04-22
1572,우리금융지주,경상 수익성을 레벨업 시킨 top-line 개선,12500,매수,하나금융투자,2021-04-22
1573,엔씨소프트,"1Q21 Preview, 리니지M, 블소2",1200000,매수(유지),유안타증권,2021-04-22
1574,NAVER,"1Q21 Preview, 쿠팡, LINE, 제페토",550000,매수(유지),유안타증권,2021-04-22
1575,카카오,"1Q21 preview, 카카오 모빌리티, 두나무",135000,매수(유지),유안타증권,2021-04-22

In [21]:
# replace 메서드는 문자열의 일부를 수정한다.
df["의견"] = df["의견"].str.replace("Neutral", "중립")
display(df['의견'].value_counts())

의견
매수(유지)        707
-             420
매수            379
Hold           31
중립             29
OutPerform      8
신규매수            2
시장수익률           1
Name: count, dtype: int64

In [32]:
# "날짜" 칼럼의 모든 요소에 대해 0번째부터 4번째까지, 앞의 네 개 문자열을 슬라이싱.
display(df["날짜"].str.slice(0,4))

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
1572    2021
1573    2021
1574    2021
1575    2021
1576    2021
Name: 날짜, Length: 1577, dtype: object

In [33]:
# split 메서드는 문자열을 입력한 구분자로 나누어 리스트로 변환한다.
display(df["날짜"].str.split("-"))

0       [2021, 10, 15]
1       [2021, 10, 15]
2       [2021, 10, 15]
3       [2021, 10, 15]
4       [2021, 10, 15]
             ...
1572    [2021, 04, 22]
1573    [2021, 04, 22]
1574    [2021, 04, 22]
1575    [2021, 04, 22]
1576    [2021, 04, 22]
Name: 날짜, Length: 1577, dtype: object

In [34]:
# split으로 얻은 리스트를 데이터프레임으로.
display(df["날짜"].str.split("-", expand = True))

         0   1   2
0     2021  10  15
1     2021  10  15
2     2021  10  15
3     2021  10  15
4     2021  10  15
...    ...  ..  ..
1572  2021  04  22
1573  2021  04  22
1574  2021  04  22
1575  2021  04  22
1576  2021  04  22

[1577 rows x 3 columns]

In [36]:
df[["연","월","일"]] = df["날짜"].str.split("-", expand = True)
display(df.head())

# 우변: 단순히 3개의 칼럼으로 쪼갠 새로운 Dataframe를 일시적으로 만든 것.
# 좌변: 우변의 것을, 원래 df의 ["연"], ["월"], ["일"] 자리에 끼워넣은 것이다. 그리고 df 내부에 새 칼럼으로 저장해버림.
# df.head(): DataFrame의 앞부분 N개의 행(row)을 출력하는 메서드. 기본값은 5.

,종목명,리포트제목,적정가격,의견,증권사,날짜,연,월,일
0,SK하이닉스,리스크 관리가 좀더 필요한 시점,120000,매수(유지),하이투자증권,2021-10-15,2021,10,15
1,솔루엠,수주잔고가 쌓인다,28000,매수(유지),하이투자증권,2021-10-15,2021,10,15
2,유한양행,높아진 성공 가능성 할인보다 할증 요소,90000,매수(유지),키움증권,2021-10-15,2021,10,15
3,코스모신소재,증설은 곧 성장이다,-,-,키움증권,2021-10-15,2021,10,15
4,넷마블,"올해까지 실적으론 고평가, 내년 실적부턴 저평가",145000,매수,이베스트투자증권,2021-10-15,2021,10,15

In [41]:
a = pd.to_datetime("2025")
b = pd.to_datetime("2025-03")
c = pd.to_datetime("2025-03-17")
d = pd.to_datetime("2025-03-17 13")
e = pd.to_datetime("2025-03-17 13:30")
f = pd.to_datetime("2025-03-17 13:30:20")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

2025-01-01 00:00:00
2025-03-01 00:00:00
2025-03-17 00:00:00
2025-03-17 13:00:00
2025-03-17 13:30:00
2025-03-17 13:30:20

In [42]:
print(c.year)
print(c.month)
print(c.day)
print(c.hour)
print(c.minute)
print(c.second)

2025
3
17
0
0
0

In [43]:
a = pd.to_datetime("2020-01-03")
b = pd.to_datetime("2020-01-05")
print(b-a)

2 days 00:00:00

In [51]:
# 한 날짜를 기준으로 특정 기간 혹은 이후의 날짜를 구하려면, Timedelta 자료형으로 연산.
five_day = pd.to_timedelta(5, "D")
five_hours = pd.to_timedelta(5, "h")
five_minutes = pd.to_timedelta(5, "m")
five_seconds = pd.to_timedelta(5, "s")

# 월과 년은 기간이 고정적이지 않기에(1달은 30, 31일. 1년은 365, 366일) Timedelta로 만들 수 없다.

In [52]:
print(a - five_day)
print(a - five_hours)
print(a - five_minutes)
print(a - five_seconds)

2019-12-29 00:00:00
2020-01-02 19:00:00
2020-01-02 23:55:00
2020-01-02 23:59:55

In [55]:
print(df["날짜"].dtype)
df["날짜"] = pd.to_datetime(df["날짜"]) # 날짜 자료형으로 변경
print(df["날짜"].dtype)

object
datetime64[ns]

In [61]:
df["dt_년"] = df["날짜"].dt.year # dt 접근자로 year 가져오기
df["dt_월"] = df["날짜"].dt.month # dt 접근자로 month 가져오기
df["dt_일"] = df["날짜"].dt.day # dt 접근자로 day 가져오기
display(df[["연", "월", "일", "dt_년", "dt_월", "dt_일"]].head())

display(df[["연", "월", "일", "dt_년", "dt_월", "dt_일"]].dtypes)

      연   월   일  dt_년  dt_월  dt_일
0  2021  10  15  2021    10    15
1  2021  10  15  2021    10    15
2  2021  10  15  2021    10    15
3  2021  10  15  2021    10    15
4  2021  10  15  2021    10    15

연       object
월       object
일       object
dt_년     int32
dt_월     int32
dt_일     int32
dtype: object

In [62]:
display(df['날짜'].head())
df["날짜"] = df["날짜"] + pd.to_timedelta(1, "D")
display(df['날짜'].head())

# time

0   2021-10-15
1   2021-10-15
2   2021-10-15
3   2021-10-15
4   2021-10-15
Name: 날짜, dtype: datetime64[ns]

0   2021-10-16
1   2021-10-16
2   2021-10-16
3   2021-10-16
4   2021-10-16
Name: 날짜, dtype: datetime64[ns]