**판다스의 주요 자료형은 넘파이 자료형인 ndarray에 인덱스를 추가한 것이다.**<br>
1차원 배열 시리즈(Series), 2차원 배열 데이터프레임(Dataframe) 두 자료형 모두 인덱스와 데이터로 구성된다.

In [1]:
import pandas as pd
s1 = pd.Series([1,2,3], index = ["A", "B", "C"])
display(s1)

s1 = s1.astype(float)
display(s1)

A    1
B    2
C    3
dtype: int64

A    1.0
B    2.0
C    3.0
dtype: float64

In [2]:
s2 = pd.Series([10, 20, 30]) # index를 입력하지 않는 경우
display(s2)

0    10
1    20
2    30
dtype: int64

In [3]:
s3 = pd.Series({"A":1, "B":2, "C":3, "D":4})
display(s3)
display(s3.values)
display(s3.index)
print(type(s3.index))

A    1
B    2
C    3
D    4
dtype: int64

array([1, 2, 3, 4], dtype=int64)

Index(['A', 'B', 'C', 'D'], dtype='object')

<class 'pandas.core.indexes.base.Index'>

In [4]:
print(s1.index.intersection(s3.index))
print(s1.index.union(s3.index))
print(s3.index.difference(s1.index))  # dtype='object'는 모든 데이터타입을 포함할 수 있는 자료형

Index(['A', 'B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['D'], dtype='object')

In [5]:
df1 = pd.DataFrame([[1,2],[3,4]], columns=["A", "B"], index=["x", "y"])
display(df1)
# 데이터로는 [[1,2],[3,4]], 열 인덱스로는 ["A", "B"], 행 인덱스로는 ["x", "y"]를 입력해서 데이터프레임 생성
df2 = pd.DataFrame([[1,2],[3,4]])
display(df2)
# 대개 칼럼은 직접 입력하지만 인덱스는 자동 설정된 값을 씀

   A  B
x  1  2
y  3  4

   0  1
0  1  2
1  3  4

In [6]:
df3 = pd.DataFrame({"A": [1,2,3], "B": [4,5,6]}, index=["x", "y", "z"])
display(df3)

   A  B
x  1  4
y  2  5
z  3  6

In [7]:
display(df1.values) # 데이터
display(df1.index) # 인덱스
display(df1.columns) # 칼럼

array([[1, 2],
       [3, 4]], dtype=int64)

Index(['x', 'y'], dtype='object')

Index(['A', 'B'], dtype='object')

In [8]:
print(type(df1.loc["x"])) # 인덱스가 x인 행의 자료형 출력
print(type(df1.loc[:, "A"])) # 칼럼명이 A인 열의 자료형 출력

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [30]:
msg_list = ["numpy", "pandas", "mayplotlib"]  # 메시지 목록을 정의한다.
data = []  # 연산 결과를 저장할 변수인 data를 빈 리스트로 초기화한다. 
for msg in msg_list:  # 이 외부 for문에서, msg라는 변수가 msg_list를 순회하며 결과 데이터프레임의 행을 만든다.
    record = [msg]  # data의 행이 될 record를 정의한다. 새로운 행으로 초기화. 
    for x in ["a", "p", "n"]:  # 이 내부 for문에서, x라는 변수가 "a", "p", "n"을 순회하며 msg에 x가 몇 회 등장했는지 record에 추가한다.
        record.append(msg.count(x))  
    data.append(record)  
data = pd.DataFrame(data, columns = ['message', 'a', 'p', 'n'])  # 중첩 리스트인 data를 데이터프레임으로 바꿔준다.
display(data)

      message  a  p  n
0       numpy  0  1  1
1      pandas  2  1  1
2  mayplotlib  1  1  0